
  <% if @inprogress_wishes.present? %>
    <h3>Pending Accomplists</h3>
    <div class="row">
      <% @inprogress_wishes.each do |wish|%>
        <div class="four columns alpha" style="margin-right: 13px;">
        <a href="<%= wish_path(wish.friendly_id)%>">
            <%if wish.image.present?%>
                <%=image_tag wish.image,:style => 'width:140px; height:120px'%>
            <%else%>
                <%=image_tag 'default_item.png',:style => 'width:140px; height:120px'%>
            <%end%>
        </a>
          <h4><%= wish.title%></h4>
          <ul>
            <li>Status: <span><%= wish.status%></span></li>
            <li>End date: <span><%= wish.close_date.to_date%></span></li>
        
            <li>Rewards: <span><%=wish.items.count %></span> </li>
          </ul>
        </div>
      <%end%>
    </div>
  <%end%>
  
  
  <% if @completed_wishes.present? %>
     <h3>Completed Accomplists</h3>
    <div class="row">
      <% @completed_wishes.each do |wish|%>
        <div class="four columns alpha" style="margin-right: 13px;">
           <a href="<%= wish_path(wish.friendly_id)%>">
                <%if wish.image.present?%>
                    <%=image_tag wish.image, :style => 'width:140px; height:120px'%>
                <%else%>
                    <%= image_tag "default_item.png", :style => 'width:140px; height:120px'%>
                <%end%>
             </a>
          <h4><%=wish.title%></h4>
          <ul>
            <li>Status: <span><%=wish.status%></span></li>
            <li>Accomplished: <span></span></li>
            <li>Rewards: <span><%=wish.items.count %></span></li>
          </ul>
        </div>
      <%end%>
    </div>
  <%end%>

  