<div class="header" id="nav1">
    
<%if user_signed_in? %>
  
  <h2 class="logo"><%=link_to 'Accompli.st' ,wishes_path%></h2>

</div>

    <%else%>
    
      <div class="">

            <h2 class="logo"><%=link_to 'Accomplist', home_index_path%></h2>

            <ul class="">

              <li>
                <%=link_to "Log in", new_user_session_path%>
              </li> 

              <li>
                <%=link_to "Sign up", new_user_registration_path%>
              </li>

            </ul>

      </div>

</div>

    <%end%>

<div id="newWishModal" class="modalDialog">
   <%= render 'wishes/form' , :wish => Wish.new%>
</div>